In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
import joblib
from sklearn.model_selection import train_test_split

data_all=pd.read_csv(r'D:\书籍资料整理\kaggle\instacard\宽表.csv')
data_all.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,Soda,77.0,7.0,soft drinks,beverages
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,soy lactosefree,dairy eggs
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0,popcorn jerky,snacks
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,popcorn jerky,snacks
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,paper goods,household

In [2]:
data_all['eval_set'].value_counts()

prior    32434489
train     1384617
test        75000
Name: eval_set, dtype: int64

In [4]:
data_all[data_all['eval_set']=='test'].head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
384,2774568,3,test,13,5,15,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,329954,4,test,6,3,12,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,1528013,6,test,4,3,16,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1086,1376945,11,test,8,6,11,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1161,1356845,12,test,6,1,20,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN