In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
import joblib
from sklearn.model_selection import train_test_split

aisles=pd.read_csv(r'D:\书籍资料整理\kaggle\instacard\aisles.csv')
departments=pd.read_csv(r'D:\书籍资料整理\kaggle\instacard\departments.csv')
order_products_prior=pd.read_csv(r'D:\书籍资料整理\kaggle\instacard\order_products__prior.csv')
order_products_train=pd.read_csv(r'D:\书籍资料整理\kaggle\instacard\order_products__train.csv')
orders=pd.read_csv(r'D:\书籍资料整理\kaggle\instacard\orders.csv')
products=pd.read_csv(r'D:\书籍资料整理\kaggle\instacard\products.csv')

In [6]:

order_products_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [7]:
order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0