In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
import joblib
from sklearn.model_selection import train_test_split

data=pd.read_csv(r'D:\书籍资料整理\kaggle\titanic\train.csv')
data.head()
#注释一下列名
#survival	是否存活	0 = No, 1 = Yes
#pclass	票类型	1 = 1st, 2 = 2nd, 3 = 3rd
#sex	性别	
#Age	年龄	
#sibsp	泰坦尼克号上的兄弟姐妹/配偶	
#parch	# 泰坦尼克号上的父母/孩子	
#ticket	Ticket number	票号
#fare	票价	
#cabin	房间号	
#embarked	出发港	C =  瑟堡, Q = 昆士城, S = 南安普敦

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
data=data[['PassengerId','Survived','Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']] #去掉可能的无关值
#去掉了Cabin,Name,Ticket
# data['Cabin'].fillna('0',inplace=True)

In [3]:
#这里name,sexm,ticket,cabin,embarked为字符串数据
#首先看下空值率
print(float(data['Pclass'].notnull().count()/data.shape[0]))
print(float(data['Sex'].notnull().count()/data.shape[0]))
print(float(data['Age'].notnull().count()/data.shape[0]))
print(float(data['SibSp'].notnull().count()/data.shape[0]))
print(float(data['Parch'].notnull().count()/data.shape[0]))
print(float(data['Fare'].notnull().count()/data.shape[0]))
# print(float(data['Cabin'].notnull().count()/data.shape[0]))
print(float(data['Embarked'].notnull().count()/data.shape[0]))

1.0
1.0
1.0
1.0
1.0
1.0
1.0

In [4]:
# print(data['Pclass'].value_counts())
# print(data['Sex'].value_counts())
# print(data['Age'].value_counts())
# print(data['SibSp'].value_counts())
# print(data['Parch'].value_counts())
# print(data['Fare'].value_counts())
# print(data['Cabin'].value_counts())
# print(data['Embarked'].value_counts())

In [5]:
sex=LabelEncoder()
sex.fit(data['Sex'])
data['Sex']=sex.transform(data['Sex'])

embarked=LabelEncoder()
embarked.fit(data['Embarked'])
data['Embarked']=embarked.transform(data['Embarked'])
data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2

In [6]:
joblib.dump(sex,r'D:\书籍资料整理\kaggle\titanic\sex.pkl')
joblib.dump(sex,r'D:\书籍资料整理\kaggle\titanic\embarked.pkl')

['D:\\书籍资料整理\\kaggle\\titanic\\embarked.pkl']

In [7]:
X=data[[x for x in data.columns if x not in ['Survived','PassengerId']]]
y=data['Survived']
X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=49)

In [8]:
X.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2

In [9]:
# train = xgb.DMatrix(X_train, label=y_train)

# test = xgb.DMatrix(X_val, label=y_val)
xgb_reg = xgb.XGBClassifier()

In [10]:
# xgb_reg.fit(train, y_train)
xgb_reg.fit(X_train, y_train)

d:\users\50477\appdata\local\programs\python\python38\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[06:40:17] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [11]:
y_pred = xgb_reg.predict(X_val)
y_score = xgb_reg.predict_proba(X_val)

In [12]:
from sklearn.metrics import precision_score, recall_score,accuracy_score,f1_score,roc_auc_score,mean_squared_error
val_error = mean_squared_error(y_val, y_pred)  # Not shown
print("Validation MSE:", val_error)  # Not shown

print('测试集准确率:',accuracy_score(y_val, y_pred))
print('测试集精度:',precision_score(y_val, y_pred))
print('测试集召回率:',recall_score(y_val, y_pred))
print('auc:',roc_auc_score(y_val, y_score[:,1]))

Validation MSE: 0.2062780269058296
测试集准确率: 0.7937219730941704
测试集精度: 0.6744186046511628
测试集召回率: 0.7631578947368421
auc: 0.8739706408879343

In [13]:
data_test=pd.read_csv(r'D:\书籍资料整理\kaggle\titanic\test.csv')
data_test=data_test[['PassengerId','Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']] #去掉可能的无关值
data_test['Sex']=sex.transform(data_test['Sex'])
data_test['Embarked']=embarked.transform(data_test['Embarked'])
data_test.head()

#Pclass	Sex	Age	SibSp	Parch	Fare	Embarked
X_test=data_test[[x for x in data_test.columns if x not in ['PassengerId']]]

In [14]:
y_test_pre=xgb_reg.predict(X_test)
data_test['Survived']=y_test_pre
data_test.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Survived
0          892       3    1  34.5      0      0   7.8292         1         0
1          893       3    0  47.0      1      0   7.0000         2         0
2          894       2    1  62.0      0      0   9.6875         1         0
3          895       3    1  27.0      0      0   8.6625         2         1
4          896       3    0  22.0      1      1  12.2875         2         1

In [15]:
data_test=data_test[['PassengerId','Survived']]

In [16]:
data_test.to_csv(r'D:\书籍资料整理\kaggle\titanic\output.csv',index=False)

In [17]:
#差不多是这个logloss
from sklearn.metrics import log_loss
log_loss(y_val, y_pred)

7.12469104436743